body {
  background-color: gray;
}

h2 {
  text-align: center;
  font-size: 24px;
  padding-bottom: 10px;
  color: white;
}

p {
  color: white;
  padding-bottom: 5px;
  font-size: 12px;
}

.cr {
  font-size: 8px;
  padding-bottom: 0;
}

.calculator {
  padding:10px;
  position: center;
  background-color: black;
  border: 1px solid white;
  border-radius: 5px;
  width: 218px;
  margin: 50px auto;
}

.textbox {
  background-color: black;
  border-radius: 3px;
  height: 50px;
  width: 208px;
  color: white;
  text-align: right;
  font-size: 25px;
  margin-left: 2px;
  margin-bottom: 5px;
}
.buttons{
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 3px;
}
.row{
  margin: 0px;
}
.button {
  padding: 1px;
  margin-top: 1px;
  margin-bottom: 1px;
  background-color: grey;
  height: 50px;
  width: 50px;
  border: none;
}
.AC {
  width: 104px;
}

.number {
  background-color: lightgrey;
}

.zero {
  background-color: lightgrey;
  width: 104px;
}

.basiccalc {
  background-color: orange;
}
